#ademande1{
    width: 85vw;
    margin-left: 150px;
    margin-top: 150px;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#ademande1 h1{
     width: 100%;
    font-size: clamp(1.2rem,2vw,6rem);
    font-weight: lighter;
    margin: 0;
}
#ademande1 p{
     width: 100%;
    font-size: clamp(1rem,1vw,2rem);
    font-weight: lighter;
    margin: 0;
}
/* ================================= */
#ademande1>div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 85vw;
}
#ademande1>div{
    margin-bottom: 20px;
}
#ademande1>div>div{
    width: 360px;
}
#ademande1>div>div:first-of-type{
   width: 360px;
   height: 40px;
}
#ademande1>div>div:last-of-type{
    display: flex;
    align-items: center;
    
}
#ademande1 input[type="checkbox"]{
    margin-left: 20px;
}
#aucun{
    text-align: center;
    font-size: clamp(1rem,2vw,6rem);
    font-weight: lighter;
    margin-top: 15dvh;

}
#ademande2{
    width: 90%;
    margin-left: 10%;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 100px;
    margin-top: 10px;

    
    
}

#ademande2 table{
    width: 90%;
    min-width: 1000px;
    border-collapse:collapse ;
    margin-left: 3%;
    margin-bottom: 5%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

    


}
#ademande2 th{
    
    font-size: clamp(0.8rem,1vw,2rem);
    font-weight: lighter;
    padding-block: 10px;
}
#ademande2 th:last-of-type{
    
    border-radius: 0px 10px 0px 0;
}
#ademande2 th:first-of-type{
    
    border-radius: 10px 0px 0px 0px;
}
#ademande2 table tr:first-of-type{
    background: #667eea;
  color: white;
  font-weight: bold;
  padding: 15px;
  position: sticky;
  top: 0;
    

    
}
#ademande2 table tr:nth-of-type(n+2){
padding: 12px 15px;
  border-bottom: 1px solid #eee;
  background: white;
}
#rowinfo:hover td{
    background: #f3f4ff;
  cursor: pointer;
    
}



#ademande2 td{
    font-size: clamp(0.8rem,1vw,2rem);
    font-weight: lighter;
    text-align: center;
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    background: white;

}





#ademande2 table button{
    background-color: #F2BC47;
    border-radius: 5px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    padding: 5px 15px;
    border: none;
    font-size: clamp(0.8rem,1vw,2rem);
    font-weight: lighter;
        font-family: 'Playfair Display', serif;

}
#ademande2 tr td:last-of-type{
    text-align: right;
}
/* --------------------------------------- */

#detailtest>div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 1s ease;
    /* flex-wrap: wrap;     */
    
}
#detailtest>div>div:first-of-type{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        width: 30%;
        min-width: 300px;
        min-height: 300px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 0px;
        justify-content: space-between;
    
}
#detailtest>div>div:first-of-type>div:first-of-type{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#detailtest>div>div:first-of-type>div:last-of-type{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}
#detailtest>div>div:first-of-type>div:last-of-type p{
    font-size: clamp(0.9rem,1vw,3rem);
    margin: 0;
}
#detailtest>div>div:first-of-type>div:first-of-type img{
    width: 50px;
    height: 50px;
}
/* ==================================== */
#detailtest>div>div:last-of-type{
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
        width: 65%;
        min-height: 300px;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    
}
#detailtest>div>div:last-of-type>div:first-of-type{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#detailtest>div>div:last-of-type>div:first-of-type img{
width: 50px;
height: 50px;
}
#detailtest>div>div:last-of-type>div:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: center;
    
}
#detailtest>div>div:last-of-type>div:nth-of-type(2) p{
    font-size: clamp(0.8rem,1vw,3rem);
    margin: 0;
    
}
#detailtest>div>div:last-of-type>div:nth-of-type(3){
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    column-gap: 50px;
    row-gap: 20px;
    justify-content: space-evenly;
    
}
#detailtest>div>div:last-of-type>div:nth-of-type(3)>div{
display: flex;
align-items: center;
gap: 10px;
}
#detailtest>div>div:last-of-type>div:nth-of-type(3)>div button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#detailtest>div>div:last-of-type>div:nth-of-type(3)>div img{
    width: 30px;
    height: 30px;
}
#detailtest>div>div:last-of-type>div:last-of-type{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
#detailtest>div>div:last-of-type>div:last-of-type button:first-of-type{
    background-color: #47F280;
}
#detailtest>div>div:last-of-type>div:last-of-type button:nth-of-type(2){
    background-color: #F27147;
}
/* ============================================ */
@media (max-width:767px) {

#ademande1{
    margin-left: 0;
    margin-inline: auto;
    
    
}
#ademande1>div{
    width: 100%;
}
#ademande2{
    margin-left: 0;
    margin-inline: auto;
}
#ademande2 table{
    margin-left: 0;
}
    
}

