#areservation1{
    width: 85vw;
    height: 250px;
   margin-left: 150px;
    margin-top: 150px;
    margin-bottom: 60px;
   
    
    
}
#areservation1 h1{
     width: 100%;
    font-size: clamp(1.5rem,2vw,6rem);
    font-weight: lighter;
    margin: 0;
}
#areservation1 p{
     width: 100%;
    font-size: clamp(1rem,1vw,2rem);
    font-weight: lighter;
    margin: 0;
    margin-bottom: 20px;
}
#areservation1>div:first-of-type{
    display: flex;
    align-items: center;
    width: 85vw;
    margin-inline: auto;
    gap: 0;
    
}
#areservation1>div:first-of-type>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
}
#areservation1>div:first-of-type>div div{
    width: 20px;
    height: 20px;
    background-color: #4EABFD;
    border-radius: 50%;
    
   
}
#areservation1>div:first-of-type>div:nth-of-type(2) div{

    background-color: #89E75A;
    
   
}
#areservation1>div:first-of-type>div:last-of-type div{

    background-color: #FB4124;
    
   
}
#areservation1>div:first-of-type>div h3{
    font-size: clamp(0.8rem,1.2vw,2rem);
    font-weight: lighter;
    margin: 0;
   
}

#areservation1>div>div{
    width: 40%;
}


#areservation1>div:nth-of-type(2)>div{
    width: 360px;
}

#areservation1>div:last-of-type{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    

    
}







/* ----------------------------------------------------------------- */
#areservation2{
    width: 90%;
    margin-left: 10%;
    
    overflow-y: scroll;
    margin-bottom: 100px; 
    scrollbar-width: none;
      


    
}




#areservation2 table{
   width: 90%;
    min-width: 1200px;
    font-size: clamp(1rem,1vw,2rem);
    border-collapse:collapse ;
    margin-left: 3%;
    margin-bottom: 5%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    



}
#areservation2 th{
    
    font-size: clamp(1rem,1vw,2rem);
    font-weight: lighter;
    padding-block: 10px;

    

}

#areservation2 td{
    
    font-size: clamp(0.9rem,1vw,2rem);
    font-weight: lighter;
    text-align: center;
    padding-block: 5px;

}

/* ========================================= */

#rowreservation:hover td{
      background: #f3f4ff;
  cursor: pointer;
    
}
#areservation2 tr th:last-of-type{
    
    border-radius: 0px 10px 0px 0;
}
#areservation2 tr th:first-of-type{
    
    border-radius: 10px 0px 0px 0px;
}
#areservation2  tr:first-of-type{
   background: #667eea;
  color: white;
  font-weight: bold;
  padding: 15px;
  position: sticky;
  top: 0;


    
}
#areservation2 table tr:nth-of-type(n+2){
padding: 12px 15px;
  border-bottom: 1px solid #eee;
  background: white;
}
#areservation2 table tr button:nth-of-type(3){
    background-color: #F2BC47;
    border-radius: 5px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    padding: 8px 15px;
    border: none;
    font-size: clamp(1rem,1vw,6rem);
    font-weight: lighter;
    font-family: 'Playfair Display', serif;

}
#areservation2 table tr button:last-child{
    border-radius: 5px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    padding: 8px 8px;
    border: none;
    font-size: clamp(0.7rem,0.8vw,3rem);
    font-weight: lighter;
    font-family: 'Playfair Display', serif;

}
#areservation2 table tr button:last-child:hover{
    cursor: default;
}
#areservation2 table tr button:nth-of-type(2){
    background-color: #0A8D47;
     display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border: none;
}
#areservation2 table tr td:nth-of-type(3) div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 auto;
}
#areservation2 table tr div{
display: flex;
align-items: center;
justify-content: flex-start;
gap: 20px;
flex-direction: row-reverse;
}
#areservation2 table tr button:first-of-type{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border: none;
}
#areservation2 table img{
    width: 25px;
    height: 25px;
}
#areservation2 tr td:last-of-type{
    text-align: right;
    

    width: 30%;
    padding-right: 10px;
}
/* ========================================== */
#resdetail{
     position: fixed;
    z-index: 200;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 80%;
    padding: 20px;
    max-width: 700px;
    z-index: 201;
    border-block: solid 5px #4caf50;
    gap: 10px;
    max-height: 90dvh;
    overflow-y: scroll;
    scrollbar-width: none;
        animation: apear 1s 1 forwards;

    
}
#resdetail>div{
    width: 100%;
}
#resdetail>div>div{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}
#resdetail>div>div img{
    width: 50px;
}
#resdetail>div>div h1{
    font-size: clamp(1rem,1.5vw,6rem);
    font-weight: lighter;
}
/* +++++++++++++++++++++++++++++++ */
#resdetail>div:first-of-type>div:last-of-type{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: solid 1px #0A8D47;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    margin-inline: auto;
    margin-top: 20px;

}
#resdetail>div:first-of-type>div:last-of-type div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
    min-width: 300px;
}
#resdetail>div:first-of-type>div:last-of-type div p{
    margin: 0;
    font-size: clamp(0.8rem,1vw,4rem);

}
/* ++++++++++++++++++++++++++++++++++++++ */
#resdetail>div:nth-of-type(2)>div:last-of-type{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    flex-wrap: wrap;
    border: solid 1px #0A8D47;
    border-radius: 5px;
    padding: 20px;
    width: 90%;
    margin-inline: auto;
    margin-top: 20px;

}
#resdetail>div:nth-of-type(2)>div:last-of-type div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 45%;
    min-width: 300px;
}
#resdetail>div:nth-of-type(2)>div:last-of-type div p{
    margin: 0;
    font-size: clamp(0.8rem,1vw,4rem);

}
/* ====================================== */




#resdetail>div:nth-of-type(3)>div:last-of-type {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 20px;

}
#resdetail>div:nth-of-type(3)>div:last-of-type>div:first-of-type {
   
   width: 45%;
   display: flex;
   flex-direction: column;
   gap: 10px;
   min-width: 300px;

}
#resdetail>div:nth-of-type(3)>div:last-of-type>div:first-of-type>div{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
#resdetail>div:nth-of-type(3)>div:last-of-type>div:first-of-type>div button{
    background-color: #F2BC47;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    display: flex;
    align-items: center;
    justify-content: center;

}
#resdetail>div:nth-of-type(3)>div:last-of-type>div:first-of-type>div img{
    width: 20px;
    height: 20px;
}
#resdetail>div:nth-of-type(3)>div:last-of-type>div:last-of-type{
    width: 45%;
    min-width: 300px;
    height: 100px;
    border: solid 1px #4caf50;
    border-radius:5px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#resdetail>div:nth-of-type(3)>div:last-of-type>div:last-of-type p{
    text-align: center;
    font-size: clamp(0.8rem,1vw,2rem);
    margin: 0;

}
#resdetail>div:nth-of-type(3)>div:last-of-type>div:last-of-type button{
     color: rgb(255, 255, 255);
    text-decoration: none;
    height: 30px;
    background-image: linear-gradient(90deg,#0A8D47,#144B24);
    border-radius: 5px;
    
   
    padding-inline: 10px;
    
    font-size: clamp(0.8rem,0.9vw,2rem);
        font-family: 'Playfair Display', serif;
    border: none;
}
#resdetail>div:last-of-type{
    text-align: right;
    padding-top: 30px;
}
#resdetail>div:last-of-type button{
background-color: #F2BC47;
    border: none;
    border-radius: 5px;
    height: 35px;
    padding-inline: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    color: white;
    font-size: clamp(0.8rem,0.9vw,2rem);
        font-family: 'Playfair Display', serif;
    font-weight: lighter;
   
}
/* ========================pour le select faite avec moi  */
#areservation1>div:last-of-type>div:last-of-type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-left: 40px;
}
#areservation1>div:last-of-type>div:last-of-type label{
    font-size: clamp(1rem,1vw,3rem);
}
.select-filter {
  position: relative;
  width: 70%;
 height: 50px;
  font-family: Arial, sans-serif;
  display: flex;
  
  
}

.select-box-filter {
  height: 48px;
  width: 100%;
  background-color: yellow;
  padding: 0 14px;
  border: 1px solid #0A8D47;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.select-box-filter span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-box-filter:hover {
  border-color: #4caf50;
}

.select-options-filter {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  overflow: scroll;
  max-height: 200px;
  scrollbar-width: none;

}

.select-option-filter {
  padding: 12px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.select-option-filter div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.select-option-filter:hover {
  background-color: #f2f2f2;
}

.select-option-filter.active {
  background-color: #0A8D47;
  color: white;
}

/* Large laptops / small desktops */
@media (min-width: 1024px) {
  /* styles */
}

/* Desktops */
@media (min-width: 1280px) {
  /* styles */
}

/* Large desktops */
@media (min-width: 1440px) {
  
}

/* Extra large screens */
@media (min-width: 1920px) {
  /* styles */
}
@media (max-width:767px) {

#areservation1{
    margin-left: 0;
    margin-inline: auto;
    width: 95%;
}
#areservation2{
    margin-left: 0;
    margin-inline: auto;
    width: 95%;
    padding-left: 0;
}
#areservation2 table{
    margin-left: 0;
}
    
}
@keyframes apear {
    from{
        opacity: 0.2;
        transform: translate(-50%,50%);
    }
    to{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    
}
