#espace{
     position: fixed;
    z-index: 200;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 10px;
    width: min(90%,1200px);
    z-index: 201;
    max-height: 80dvh;
}
#espace>div:first-of-type{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
#espace>div:first-of-type img{
    width:25px;
    height: 25px;
}
#espace>div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#espace>div:nth-of-type(2) img{
   width: 80px;
   height: 80px;
}
#espace>div:nth-of-type(2) h1{
   font-size: clamp(1rem,1.5vw,3rem);
   font-weight: lighter;
   margin: 0;
}
#capacite{
    margin-top: 20px;
    width: 100%;
    
}
#capacite>div:first-of-type{
    max-height: 40dvh;

    scrollbar-width: none;
    overflow-x: scroll;
    margin: 0 auto;
    padding-block: 20px;

    
    
}
#capacite table{
    
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    min-width: 650px;


    
}
#capacite table tr:first-of-type{
    font-size: clamp(0.7rem,1vw,1rem);

background: #667eea;
  color: white;
  font-weight: bold;
}

#capacite td{
    height: 20px;
    text-align: center;
    
    
}
#capacite table tr:hover td{
background: #f3f4ff;
  cursor: pointer;
}
#capacite tr:nth-of-type(n+2){
  border-bottom: 1px solid #eee;
  background: white;
      font-size: clamp(0.7rem,1vw,1rem);

}
#capacite th{
    font-weight: lighter;
    
}
#capacite tr th:first-of-type{
        border-radius: 10px 0px 0px 0px;

}
#capacite tr th:last-of-type{
        border-radius: 0px 10px 0px 0;

}
#capacite tr td:last-of-type{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    
    
}

#capacite tr button:first-of-type{
    width: 35px;
    height: 35px;
    background: none;
    border: none;
}
#capacite tr button:first-of-type img{ 
    width: 35px;
    height: 35px;
}
#capacite tr:nth-of-type(n+2) .delete{
    width: 31px;
    height: 31px;
    background-color: red;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#capacite tr:nth-of-type(n+2) .delete img{ 
    width: 22px;
    height: 22px;
}
#capacite>div:last-of-type{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
#capacite>div:last-of-type img{
    width: 20px;
    height: 20px;
}
#capacite>div:last-of-type button{
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #128a30;
}
#capacite>div:last-of-type p{
      font-size: clamp(1rem,1vw,3rem);
}
/* ==========================modifier le espace========================= */

#espace1{
    width: 100%;
}
#espace1 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-block: 10px;
}
#espace1 table{
    
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    min-width: 650px;


    
}
#espace1 table tr:first-of-type{
    font-size: clamp(0.7rem,1vw,1rem);

background: #667eea;
  color: white;
  font-weight: bold;
}

#espace1 td{
    height: 20px;
    text-align: center;
    
    
}
#espace1 table tr:hover td{
background: #f3f4ff;
  cursor: pointer;
}
#espace1 tr:nth-of-type(n+2){
  border-bottom: 1px solid #eee;
  background: white;
      font-size: clamp(0.7rem,1vw,1rem);

}
#espace1 th{
    font-weight: lighter;
    
}
#espace1 tr th:first-of-type{
        border-radius: 10px 0px 0px 0px;

}
#espace1 tr th:last-of-type{
        border-radius: 0px 10px 0px 0;

}




section{
      max-height: 40dvh;

    scrollbar-width: none;
    overflow-x: scroll;
    margin: 0 auto;
    padding-block: 20px;
    overflow: auto;
    
}


#espace1 input{
    width: min(90%,400px);
    height: 30px;
    border: solid 1px #0A8D47;
}
#espace1 input:focus{
    outline: none;
}
#espace1 div:last-of-type{
    display: flex;
    justify-content: flex-end;
    gap: 5px;

}

#espace1 form>div:last-of-type{
        width: min(90%,400px);

}
#espace1 div:last-of-type button{
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #128a30;
}
#espace1 div:last-of-type img{
width: 20px;
    height: 20px;
}
#espace1 form>div:first-of-type{
    width: min(90%,400px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#espace1 form>div:first-of-type div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#espace1 form>div:first-of-type label{
    font-size: clamp(1rem,1.2vw,3rem);
}
#espace1 form>div:first-of-type input{
    width: 20px;
    accent-color: #0A8D47;
}
/* =====================ajouter un espace======================= */
#espace2{
    width: 100%;
}
#espace2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-block: 10px;

}
#espace2 input{
    width: min(90%,400px);
    height: 30px;
    border: solid 1px #0A8D47;
}
#espace2 input:focus{
    outline: none;
}
#espace2 div:last-of-type{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    gap: 5px;
    width: min(90%,400px);

}
#espace2 div:last-of-type button{
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: #128a30;
}
#espace2 div:last-of-type img{
width: 20px;
    height: 20px;
}
/* =====================pour la duree minmale */
#duree{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    
}

#duree h3{
          font-size: clamp(1rem,1.3vw,3rem);
          width: 80%;
          font-weight: lighter;
              width: min(90%,700px);

          

}
#duree>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(90%,700px);

    
}
#duree>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#duree label{
        font-size: clamp(0.8rem,1vw,3rem);

}
#duree>div>div>div{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
flex: 1;

}
#duree input[type="number"]{
    width: 30%;
    height: 30px;
    border: solid 1px #0A8D47;
}
#duree input[type="radio"]{
    width: 20px;
    height: 20px;
    accent-color: #0A8D47;
}

#duree input:focus{
    outline: none;
    
}

#duree>div button{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #128a30;
    display: flex;
    justify-content: center;
    align-items: center;
}
#duree>div img{
    width: 20px;
    height: 20px;
}
#duree p{
    font-size: clamp(0.8rem,1vw,3rem);

}
/* ============================prix de reservation=============== */
#price{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0px;
    
    
    
}
#price>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 330px;
    
}
#price>div>div{
    width: 100%;
    
}
#price input{
    width: 50%;
    height: 30px;
    border: solid 1px #0A8D47;
}
#price input:focus{
    outline: none;
}
#price button{
width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #128a30;
    display: flex;
    justify-content: center;
    align-items: center;
}
#price img{
width: 20px;
    height: 20px;
}
#price div{
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 5px;
   
}
#price p{
    margin: 0;
    font-size: clamp(0.8rem,1vw,3rem);

}
/* =================le delai======================== */
#delai{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
#delai>div{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 360px;
    
    

    
}
#delai>div>div>div:last-of-type{
    display: flex;
    align-items: center;
    
}
#delai>div>div>div:last-of-type p{
    margin: 0;
    
}

#delai>div>div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 20px;

}
#delai button{
    align-self: start;
}
#delai label{
        font-size: clamp(0.8rem,0.8vw,3rem);
        width: auto;

}
#delai>div>div>div{
display: flex;
align-items: center;
justify-content: flex-start;
gap: 10px;
width: 100%;
}
#delai input[type="number"]{
    width: 10%;
    height: 30px;
    border: solid 1px #0A8D47;
}
#delai input[type="radio"]{
    width: 20px;
    height: 20px;
    accent-color: #0A8D47;
}

#delai input:focus{
    outline: none;
    
}

#delai>div button{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #128a30;
    display: flex;
    justify-content: center;
    align-items: center;
}
#delai>div img{
    width: 20px;
    height: 20px;
}
#delai p{
    font-size: clamp(0.8rem,0.8vw,3rem);

}
/* ============================mot de passe=============== */
#passe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    width:100%
}
#passe>div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
    
}

#passe input{
    width: 300px;
    height: 30px;
    border: solid 1px #0A8D47;
}
#passe input:focus{
    outline: none;
}
#passe button{
width: 35px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #128a30;
    display: flex;
    justify-content: center;
    align-items: center;
}
#passe img{
width: 20px;
    height: 20px;
}

#passe small{
    margin: 0;
    font-size: clamp(0.8rem,0.8vw,3rem);
    width: 100%;
    text-align: center;

}