#la1{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#la1>div:first-of-type{
    display: flex;
    align-items: center;
    justify-content: center;
}
#la1>div:first-of-type>img{
    width: 140px;
}
#la1>div:first-of-type hr{
    width: 15%;
    min-width: 50px;
    max-width: 30vw;
    text-align: left;
    border-radius: 50px;
    margin-right: 85%;
    
    border: solid 3px #0A8D47;
}
#la1>div:first-of-type h1{
    width: 100%;
    text-align: left;
    border-radius: 50px;
    font-size: clamp(1rem,2vw,6rem);
    font-weight: lighter;
    margin: 0;
}
#la1>div:last-of-type{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
#la1>div:last-of-type>button:first-child{
    color: rgb(255, 255, 255);
    text-decoration: none;
    height: 40px;
    background-image: linear-gradient(90deg,#0A8D47,#144B24);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    font-size: clamp(0.8rem,1vw,1.2rem);
    border: none;
}

#la2{
    width: 90%;
    text-align: left;
    border-radius: 50px;
    font-size: clamp(1rem,2vw,6rem);
    font-weight: lighter;
    margin-left: 20px;

}
#la3{
    width: min(90%,1000px);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 30px;
    margin-top: 100px;
    margin-bottom: 40px;

}
#la3>div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
#la3>div img{
    width: 70%;
}
#la3 form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    flex: 1;
}
#la3 form>div:first-of-type{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#la3 form>div:first-of-type img{
    width: 70px;
}
#la3 form>div:first-of-type h3{
    width: 100%;
    text-align: center;
    border-radius: 50px;
    font-size: clamp(0.9rem,1vw,2rem);
    font-weight: lighter;
    margin: 0;
}
#la3 form>div:last-of-type{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#la3 form>div:last-of-type button{
    width: 90%;
    text-decoration: underline;
    margin-top: -18px;
    background: none;
    border: none;
    text-align: left;
}
#la3 form>button{
    color: rgb(255, 255, 255);
    text-decoration: none;
    width:90%;
    height: 45px;
    background-image: linear-gradient(90deg,#0A8D47,#144B24);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    font-size: clamp(0.8rem,1vw,2rem);
    border: none
}
@media (max-width: 700px) {
    #la1>div:first-of-type>img{
        display: none;
    }
    #la3>div:first-of-type{
        display: none;
    }
}
