#black{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
    position: fixed;
    z-index: 100;
    top: 0;
    z-index: 200;
}
#success{
    position: fixed;
    z-index: 200;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 80%;
    padding: 10px;
    max-width: 500px;
    z-index: 201;
    animation: scale 1s 1 forwards;


}
#success>div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
#success>div img{
    width: 25px;
}
#success>img{
    width: 200px;
}
#success>h1{
    margin-bottom: -2%;
        font-size: clamp(1.2rem,2vw,2.5rem);

}
#success>h3{
    text-align: center;
        font-size: clamp(0.8rem,1.2vw,1.5rem);
        font-weight: lighter;

}
@keyframes scale {
    0%{
        opacity: 0.2;
        transform: translate(-50%,-50%) scale(0);
    }

    50%{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1.1);
    }

    100%{
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
    }
}