#oublier{
    position: fixed;
    z-index: 200;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 80%;
    padding: 10px;
    max-width: 600px;
    z-index: 201;
    animation: apear 1s 1 forwards;

}
#oublier>div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#oublier>div img{
    width: 25px;
}
#oublier>img{
    width: 100px;
}
#oublier>p{
    text-align: center;
    font-size: clamp(1rem,1.2vw,1.5rem);
}
#oublier>form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-bottom: 2%;

}
#oublier>form>button{
    color: rgb(255, 255, 255);
    text-decoration: none;
    width:10%;
    height: 40px;
    background-image: linear-gradient(90deg,#0A8D47,#144B24);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 120px;
    font-size: clamp(1rem,1vw,2rem);
    border: none;

}
#oublier>form>button>img{
    width: 20px;
}
@keyframes apear {
    from{
        opacity: 0.2;
        transform: translate(-50%,50%);
    }
    to{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    
}