#repondre{
    position: fixed;
    z-index: 200;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); 
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 80%;
    padding: 10px;
    max-width: 700px;
    min-width: 360px;
    z-index: 201;
    gap: 10px;
    animation: apear 1s 1 forwards;

}

#repondre>div:first-of-type{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;

}
#repondre img{
    width: 20px;
    height: 20px;
}

#repondre h1{
    font-size: clamp(0.8rem,2vw,4rem);
    position: relative;
    margin: 0;

}
#repondre>div:nth-of-type(2){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
}
#repondre>div:nth-of-type(2)::before{
    content: "";
    width: 5px;
    border-radius: 30px;
    background-color: #008f4c;
    height: 50px;
}

#repondre>div:nth-of-type(2)>div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #c3edda;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#baros {

    margin:35px 0;

    border:none;
    width: 100%;
    border-top:1px solid #e5e7eb;

}
.reply-title {

    display:block;

    font-size:24px;
    text-align: left;
    width: 100%;

    font-weight:bold;

    color:#008f4c;

    margin-bottom:15px;

}
#repondre h3{
        font-size: clamp(0.8rem,1.2vw,4rem);

}
#repondre p{
    font-size: clamp(0.8rem,1vw,3rem);
    text-align: justify;
    width: 90%;

}
#repondre textarea{
    font-size: clamp(0.8rem,1.2vw,1.3rem);
    width: 100%;
    height: 200px;
    border:2px solid #009b55;
    font-family: 'Playfair Display', serif;

    border-radius:5px;

    
}
#repondre textarea:focus{
    outline: none;
}
#repondre button{
    color: rgb(255, 255, 255);
    border: none;
    padding-inline: 20px;
    height: 50px;
    background-image: linear-gradient(90deg,#0A8D47,#144B24);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: clamp(0.8rem,1.2vw,1.3rem);
}
@keyframes apear {
    from{
        opacity: 0.2;
        transform: translate(-50%,50%);
    }
    to{
        opacity: 1;
        transform: translate(-50%,-50%);
    }
    
}